<div class="base">
    <h1>¿QUIERES AYUDARNOS A TRAER MANGAS AL ESPAÑOL?</h1>
    <div class="separador"></div>
    <h4>SI SABES TRADUCIR, TYPEAR O REDIBUJAR ESCRIBENOS EN NUESTRO <a class="face" href="https://www.facebook.com/Magnos-scalation-1984753408500133" target="_blank" rel="noopener noreferrer">FACEBOOK</a> O <a class="ds" href="https://invite.gg/magnos" target="_blank" rel="noopener noreferrer">DISCORD</a></h4>

    <div class="logosCon">
        <a href="https://www.facebook.com/Magnos-scalation-1984753408500133" target="_blank" rel="noopener noreferrer">
            <img [src]="enlaces.faceLogo" alt="">
        </a>
        <a href="https://invite.gg/magnos" target="_blank" rel="noopener noreferrer">
            <img [src]="enlaces.dsLogo" alt="">
        </a>
    </div>
</div>

