<div class="container-fluid ">
    <div class="textos">
        <div class="texto2">
            <span>ULTIMAS ACTUALIZACIONES</span>
        </div>
        <div class="texto">
            <span>ULTIMAS ACTUALIZACIONES</span>
        </div>
    </div>
    
    
    <div class="lista">
        <app-caps-recientes></app-caps-recientes>
    </div>
</div>
<div class="container-fluid">
    <div class="textos">
        <div class="texto2">
            <span>NUESTROS PROYECTOS</span>
        </div>
        <div class="texto">
            <span>NUESTROS PROYECTOS</span>
        </div>
    </div>
    
    
    <div class="lista">
        <app-lista-series></app-lista-series>
    </div>
</div>

