<div class="base">
    <div class="imageBase">
        <a href="https://www.patreon.com/magnosscalation" target="_blank" rel="noopener noreferrer">
            <img class="patreon" [src]="enlaces.patreonLogo" alt="">
        </a>
        
    </div>
    
    <h2 class="textP">PUEDES APOYARNOS SIENDO PATREON DE MAGNOS <a href="https://www.patreon.com/magnosscalation" target="_blank" rel="noopener noreferrer">AQUI</a></h2>

    <div class="separadorPatreon"></div>

    

    <!--
    <h1 style="text-align: center;">NUESTROS PATREONS</h1>
    <div class="berserk">
            <div class="text">
                <h2 class="">BERSERK</h2>
                <h3 class="">LECARM</h3>
                <h3 class="">STRAY</h3>
                <h3 class="">GASTIONG</h3>
            </div>
            
            <img src="https://preview.redd.it/zff2jl5zkv461.jpg?width=519&format=pjpg&auto=webp&s=7e716efb1be0190745382a0406145010edfc51eb" alt="">
        </div>
    -->
    
</div>
